{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": [2, "single"],
    "eol-last": [0],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0],
    "semi": [2, "never"],
    "no-extra-semi": 2,
    "no-unexpected-multiline": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "jsx-quotes": 1,
    "react/jsx-curly-spacing": [2, "always"]
  },
  "plugins": [
    "react"
  ]
}
